body {
    font-family: "din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Make sure body is at least the height of the viewport */
    display: flex;
    flex-direction: column;
    color: #000;
}

a {
    transition: font-size 0.3s ease;
}

a:hover{
    color:#E51D30;
    animation: normal;
    font-size: 1.2em
}

h1 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6.5rem;
    line-height: 6.5rem;
    margin: 0;
}

#mainTitle {
    padding: 6em 20%;
}

#prodList {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4em; /* Adjust spacing between items if needed */
    padding: 6em 20%;
  }

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1; /* Ensure wrapper takes up all available space */
}

main {
    background: #fff;
    flex: 1; /* Allows main content to grow and push the footer down */
}

header {
    background: #fff;
    padding: 2vw;
    text-align: right;
    position: static;
    top: auto;
    z-index: 1000
}

.header-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space items apart */
}

.fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .75s ease, transform .75s ease;
  }
  
.fadein.visible {
    opacity: 1;
    transform: translateY(0);
}

.logo {
    max-height: 75px; /* Set an appropriate height for your logo */
    margin-right: 20px; /* Optional: spacing between the logo and nav */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

#home, #about, #services, #contact, #protfolio {
    background: #fff;
}

/* Portfolio Grid */
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.portfolio-item {
    background: #fff;
    padding: 1em;
    width: calc(33% - 2em);
    box-sizing: border-box;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

section.vid {
    height: 600vh;
    position: relative;
  }
  
section.vid div.holder {
    position: sticky;
    top: 0;
}
  
section.vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background: #fff;
    color: #000;
    text-align: left;
    padding: 6em 20%;
    /* Remove absolute positioning */
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0;
  }
  
  .footer a {
    color: E51D30; /* White color for links */
    text-decoration: underline;
  }
  
  .footer-section p {
    margin: 5px 0;
  }